body {
  font-family: Inter, serif;
  background-color: #eff3f5;
  color: #000000;
  text-align: center;
  margin: 0;
}

.header-text {
  background-color: #f79c16;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 0.85rem;
  line-height: 1rem;
  font-weight: 600;
}

.number-email {
  color: #f79c16;
  margin-left: 3px;
  margin-right: 3px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
  font-size: 1rem;
  line-height: 1.25rem;
  background-color: white;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.cx {
  font-weight: 700;
}
.nav-containter {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 37px;
  padding-top: 20px;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.navs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #7eb9c9;
}

button {
  background-color: #70af31;
  color: #ffffff;
  border: none;
}

.btn-domains {
  padding: 13px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 1rem;
  font-weight: 550;
  width: auto;
}

.first-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.domain-title {
  width: 60%;
  background-color: #ffffff;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 50px;
  padding-bottom: 80px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.domain-details {
  width: 40%;
  background-color: #ffffff;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  font-size: 18px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.sale {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.domain {
  margin-top: 16px;
  font-size: 55px;
  font-weight: 600;
}

.price {
  margin-top: 25px;
  font-size: 55px;
  font-weight: 600;
  color: #1f5378;
}

.detail-title {
  font-size: 27px;
  line-height: 2rem;
  color: #1f5378;
  text-align: center;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 23px;
  line-height: 26px;
  font-weight: 400;
}

.btn-buy {
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 18px;
  font-weight: 550;
  width: 100%;
  line-height: 25px;
  margin-top: 6px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: var(--orange);
}

.first-content-footer {
  background-color: #1f5378;
  color: white;
  padding: 50px;
  width: auto;
}

.second-content {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 33px;
  margin-right: 20px;
  margin-left: 22px;
  gap: 20px;
  align-items: flex-start;
}
